<% content_for :page_actions do %>
  <% if @seller.pending? && @seller.action_url.present? %>
    <li>
      <%= render 'paypal_onboarding_link' %>
    </li>
  <% elsif @seller.pending? %>
    <li>
      <span class="text-danger">
        <%= t('solidus_paypal_marketplace.sellers.contact_platform_owner') %>
      </span>
    </li>
  <% elsif @seller.require_paypal_verification? %>
    <li>
      <span class="text-danger">
        <%= t('solidus_paypal_marketplace.sellers.contact_paypal') %>
      </span>
    </li>
  <% elsif local_assigns[:unconfirmed_primary_email] %>
    <li>
      <span class="text-danger">
        <%= t('solidus_paypal_marketplace.sellers.confirm_paypal_primary_email') %>
      </span>
    </li>
  <% end %>
<% end %>
<div class="align-center"">
  <h2>
    <%= @seller.name %>
    <% badge_class = case @seller.status %>
    <% when 'pending', 'waiting_paypal_confirmation'; 'warning' %>
    <% when 'accepted'; 'success' %>
    <% else; 'danger' %>
    <% end %>
    <span class="badge badge-<%= "#{badge_class}" %>">
      <%= "#{t("spree.seller.statuses.#{@seller.status}")}" %>
    </span>
  </h2>
  <% if @seller.waiting_paypal_confirmation? || @seller.require_paypal_verification? %>
    <small>
      Not what you expected? Try
      <%= link_to 'refrehing', admin_sellers_dashboard_path(refresh_seller_status: true) %>
      your PayPal integration!
    </small>
  <%end%>
</div>

