<% Spree::Seller.all.each do |seller| %>
  <% price = variant.price_for_seller(seller, current_pricing_options) %>
  <% next if price.blank? %>

  <li>
    <%= radio_button_tag "variant_and_seller_ids",
                         [variant.id, seller.id],
                         false,
                         'data-price' => price&.money  %>
    <%= label_tag "variant_id_#{ variant.id }_seller_id_#{ seller.id }" do %>
      <% unless local_assigns[:is_master] %>
        <span class="variant-description">
          <%= variant_options variant %>
        </span>
        |
      <% end %>
      <span class="seller-description">
        <%= seller.name %>
      </span>
      <span class="price">
        <%= price&.money.to_html %>
      </span>

      <% unless seller.can_supply?(variant) %>
        <span class="out-of-stock"><%= t('spree.out_of_stock') %></span>
      <% end %>
    <% end %>
  </li>
<% end %>
