<div data-hook="admin_offer_form_fields">

  <div data-hook="admin_offer_form_variant" class='col-sm-12'>
    <%= f.field_container :variant do %>
      <%= f.label :variant, class: 'required' %>
      <%= f.hidden_field :variant_id, class: "fullwidth variant_autocomplete", disabled: !f.object.new_record?, required: true %>
      <%= f.error_message_on :variant %>
    <% end %>
  </div>

  <div data-hook="admin_offer_form_amount" class='col-sm-4'>
    <%= f.field_container :amount do %>
        <%= f.label :amount, class: 'required' %>
        <%= render "spree/admin/shared/number_with_currency", f: f,
                                                              amount_attr: :amount,
                                                              currency_attr: :currency,
                                                              currency: current_pricing_options.currency,
                                                              required: true %>
        <%= f.error_message_on :amount %>
        <%= f.error_message_on :currency %>
      <% end %>
  </div>

  <div data-hook="admin_offer_form_seller_stock_availability" class='col-sm-4'>
    <%= f.field_container :seller_stock_availability do %>
      <%= f.label :seller_stock_availability, class: 'required' %>
      <%= f.number_field :seller_stock_availability, class: 'fullwidth',
                                                     required: true %>
      <%= f.error_message_on :seller_stock_availability %>
    <% end %>
  </div>

</div>
